@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
}
.logoDiv {
  background-color: #5fc4e3;
  width: 720px;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#loginFlex {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
}
.formDiv {
  width: 720px;
  height: 900px;
  display: flex;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
}
.logoName {
  color: #ffffff;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 84px;
}
.logoContainer {
  display: flex;
  flex-direction: column;
}
.label {
  width: 50px;
}

label {
  width: 300px;
  background-color: #f5f5f5;
  border: none;
  font-size: 20px;
}
.formContainer {
  display: flex;
  justify-content: center;
  align-content: center;
}
.inputDiv {
  border-bottom: 10px;
  padding: 10px;
}
button {
  width: 300px;
  background-color: #5fc4e3;
  border: none;
}
.navContainer {
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 3px lightgrey;
  margin-bottom: 10px;
}
.navLogo {
  color: #5fc4e3;
  margin-left: 5px;
}
.linksDiv {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.navBox {
  border: 2px solid #5fc4e3;
  padding: 40px 60px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}
.boxText {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}
.navLinksDiv {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-right: 10px;
}
.navText {
  font-size: 20px;
  text-decoration: none;
  color: #5fc4e3;
  margin-top: 20px;
}
.moveSignup {
  display: flex;
  flex-direction: column;
}
.signupInput {
  border-bottom: none;
}
.radioButtons {
  width: 100%;
}

.formLabel {
  margin-bottom: 8px;
  margin-left: -8px;
  border-radius: 2px;
}
.loginWrapper {
  display: flex;
  flex-direction: column;
}
.displayNameMargin {
  margin-left: 8px;
}
.radioDiv {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
